

a:hover {
  background-color: #d9d9d9;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: verdana;
  background-color: white;
  color: #750999;
  line-height: 1.6;
  text-align: center;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}
#showcase {
  height: 300px;
}
#showcase h1 {
  font-size: 50px;
  line-height: 1.6;
  position: relative;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}
@keyframes floatingdown {
  0% {top: -60px;}
  100% {top: 100px;}
}
#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-top:-100px;
}
@keyframes content {
  0% {left: -900px;}
  100% {left:0;}
}
.nav-display {
  display:flex;
  max-width: 930px;
  margin: 0px auto;
  width: 100%;
  justify-content: space-between

}
.btn {
  display: inline-block;
  background-color: #ce75e8;
  color: #750999;
  text-decoration: none;
  padding: 1rem 1rem;
  border: #d9d9d9 4px solid;
  margin: 20px 5px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  transition-property: transform;
  transition-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 25px;
  position: relative;
  max-width: 100px;
}
.btn-1 {
  background-color: #ce75e8;
  color: #750999;
  text-decoration: none;
  padding: 1rem 1rem;
  border: #d9d9d9 4px solid;
  margin: 20px 5px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  transition-property: transform;
  transition-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 25px;
  position: relative;
  flex: 1;
  order: 1;
}
.btn-2 {
  background-color: #ce75e8;
  color: #750999;
  text-decoration: none;
  padding: 1rem 1rem;
  border: #d9d9d9 4px solid;
  margin: 20px 5px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  transition-property: transform;
  transition-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 25px;
  position: relative;
  flex: 1;
  order: 2;
}
.btn-3 {
  background-color: #ce75e8;
  color: #750999;
  text-decoration: none;
  padding: 1rem 1rem;
  border: #d9d9d9 4px solid;
  margin: 20px 5px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  transition-property: transform;
  transition-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 25px;
  position: relative;
  flex: 1;
  order: 3;
}
@keyframes btn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.btn-2:hover, .btn:hover, .btn-1:hover, .btn-3:hover {
  transform:rotateY(360deg);
  background-color: #d9d9d9;
}

.column-layout {
  max-width: 800px;
  background-color: #d9d9d9;
  margin: 10px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  border: #750999 4px solid;
  border-radius: 5%;
  display: flex;
}

.main {
  padding-right: 20px;
  flex: 2;
  order: 1;
  
}
.sidebar {
  padding-left: 10px;
  font-size: 8pt;
  flex:1;
  order:2;
}
.call-outs-container {
  max-width: 900px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between
}

.call-out-1, .call-out-2 {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #ce75e8;
  border: #d9d9d9 4px solid;
  border-radius: 25px;
  flex-basis: 49%
}
.pic {
  margin: 10px 10px;
  border: #750999 4px solid;
  border-radius: 25px;
  width: 100px;
  height: 100px;
}
button {
  background-color: #750999;
  color: #d9d9d9;
  font-family: verdana;
  width: 5rem;
  height: 3rem;
  border-radius: 15px;
}


